.cover-top .img-wrap {
  border-radius: 0 0 143px 143px;
}

.cover-top h1 {
  letter-spacing: 0.2em;
}

.daftar-planet-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(311px, 1fr));
  grid-gap: 32px;
}

#item-container {
  min-height: 412px;
  transition: all 300ms ease-in-out;
  transform: scale(1);
  cursor: pointer;
}
#item-container .bg-item-list {
  background: linear-gradient(180deg, #133fb3 0%, #071f5c 100%);
  border-radius: 50px;
  height: 322px;
}
#item-container .img-item-wrap img {
  transition: all 300ms ease-in-out;
}
#item-container .desc-list-item {
  font-family: 'Comic Neue';
}

#item-container:hover {
  transform: scale(1.04);
}
#item-container:hover .img-item-wrap img {
  transform: rotateZ(20deg);
}
